/* stylelint-disable csstree/validator */
/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nier-font';
  @font-face {
    font-family: 'Open Sans';
    src: url('./src/font/itc_benguiat_book-webfont.woff2')
        format('woff2'),
      url('./src/font/itc_benguiat_book-webfont.woff')
        format('woff');
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0.3rem 0.3rem 0 #bab5a1;
    }
    .text-shadow-md {
      text-shadow: 0.6rem 0.6rem 0 #bab5a1;
    }
  }
}

.nav-element {
  @apply flex flex-row items-center justify-center p-1;
}

.headings {
  /* text-shadow: 0.3rem 0.3rem 0 theme('colors.bodyDark'); */
  @apply text-active;
  @apply text-shadow;
}

.b-g {
  background-image: linear-gradient(
      to right,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    ),
    linear-gradient(
      to bottom,
      #ccc8b1 1px,
      rgba(204, 200, 177, 0) 1px
    );
}

.button {
  @apply relative z-10 text-active text-lg bg-bodyDark border-r-2 hover:text-bodyLight hover:bg-active;
  @apply before:z-0 hover:before:border-t-2 hover:before:border-b-2 hover:before:border-body before:w-full;
  @apply before:h-5/6 before:absolute before:left-0 before:content-[''];
  @apply transition-colors;
}

.cancel {
  @apply w-12 h-12 hover:bg-active hover:text-warning;
}
