/* stylelint-disable csstree/validator */
/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nier-font';
  @font-face {
    font-family: 'Open Sans';
    src: url('./src/font/itc_benguiat_book-webfont.woff2')
        format('woff2'),
      url('./src/font/itc_benguiat_book-webfont.woff')
        format('woff');
  }
}

.nav-element {
  @apply flex flex-row items-center justify-center p-1 bg-blue-800;
}

.headings {
  text-shadow: 5px 5px #558abb;
}
